<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wwnorton.VerifyDropDownsTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fullyControlled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bmatchlistBoxWidth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cmatchbuttonWidth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dcomplexOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ediffChildren</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>adefaultDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runOnceAtStart</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runOnceAtEnd</td>
<td>&nbsp;</td></tr>
</table>
